<footer class="bg-light text-center text-lg-start mt-auto">
    <div class="text-center p-3">
        &copy 2021 Filip Just | xjust@mendelu.cz | <a href="https://bitbucket.org/FilipJust/fitapp-web/">Bitbucket
        repo</a>
    </div>
</footer>