{% extends "base_template.html" %}
{% block content %}

    <h2>Nastavení</h2>

    <form method="POST">
        {{ form.hidden_tag() }}


        <div class="row">
            <!--Heslo-->
            <div class="mb-3 col-sm-12 col-md-6">
                {{ form.password.label(class="form-label") }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {{ form.password(class="form-control is-invalid") }}
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>

            <!--Potvrzení hesla-->
            <div class="mb-3 col-sm-12 col-md-6">
                {{ form.repeat_password.label(class="form-label") }}
                {% if form.repeat_password.errors %}
                    {% for error in form.repeat_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {{ form.repeat_password(class="form-control is-invalid") }}
                {% else %}
                    {{ form.repeat_password(class="form-control") }}
                {% endif %}
            </div>
        </div>

        <!--Tlačítko pro odeslání-->
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for("settings_page") }}" class="btn btn-outline-danger">Zrušit</a>
    </form>
{% endblock %}