{% extends "base_template.html" %}

{% block content %}
    <h2>Přehled uživatele {{ current_user.username }}</h2>

    <div class="container">
        <div class="row">
            <!--Karta s hmotností-->
            <div class="card col-md-4 col-sm-6">
                <div class="card-body">
                    <p class="display-4">{{ user_attributes["weight"] }} <span class="display-6">kg</span></p>
                    <h5 class="card-title">Aktuální hmotnost</h5>
                    <p class="card-text"></p>
                    <a href="{{ url_for("weight_log_page") }}" class="btn btn-primary">Přidat</a>
                    <a href="{{ url_for("show_logs_page", stat="weight") }}"
                       class="btn btn-outline-primary">Zobrazit</a>
                </div>
            </div>

            <!--Karta s výškou-->
            <div class="card col-md-4 col-sm-6">
                <div class="card-body">
                    <p class="display-4">{{ user_attributes["height"] }} <span class="display-6">cm</span></p>
                    <h5 class="card-title">Aktuální výška</h5>
                    <p class="card-text"></p>
                    <a href="{{ url_for("height_log_page") }}" class="btn btn-primary">Přidat</a>
                    <a href="{{ url_for("show_logs_page", stat="height") }}"
                       class="btn btn-outline-primary">Zobrazit</a>
                </div>
            </div>

            <!--Karta s BMI-->
            <div class="card col-md-4 col-sm-6">
                <div class="card-body">
                    <p class="display-4">{{ user_attributes["bmi"] }}</p>
                    <h5 class="card-title">Aktuální BMI</h5>
                    <p class="card-text"></p>
                </div>
            </div>

            <!--Karta s běháním-->
            <div class="card col-md-4 col-sm-6">
                <div class="card-body">
                    {% if user_attributes["time_per_km"] == "0:00" %}
                        <h5 class="card-title">
                            Čas/1 km
                        </h5>
                        <p class="card-text">Průměrný čas za který uživatel uběhl 1 Km při posledním běhu</p>
                        <div class="alert alert-warning">Uživatel ještě nezadal záznam běhu</div>
                    {% else %}
                        <p class="display-4">{{ user_attributes["time_per_km"] }} <span class="display-6">min</span></p>
                        <h5 class="card-title">Čas/1 km</h5>
                        <p class="card-text">Průměrný čas za který uživatel uběhl 1 km při posledním běhu</p>
                    {% endif %}
                    <a href="{{ url_for("run_log_page") }}" class="btn btn-primary">Přidat</a>
                    {% if user_attributes["time_per_km"] != "0:00" %}
                        <a href="{{ url_for("show_logs_page", stat="running") }}" class="btn btn-outline-primary">Zobrazit</a>
                    {% endif %}
                    <p class="card-text"></p>
                </div>
            </div>

            <!--Karta s nejsilnějším cvikem-->
            {% if user_attributes["strongest_lift"]["one_rep_max"] %}
                <div class="card col-md-4 col-sm-6">
                    <div class="card-body">
                        <p class="display-4">{{ user_attributes["strongest_lift"]["one_rep_max"] }} <span
                                class="display-6">kg</span></p>
                        <h5 class="card-title">Nejvyšší maximální váha na cviku</h5>
                        <p class="card-text">Uživatelova nejvyšší přednost je
                            cvik {{ user_attributes["strongest_lift"]["exercise"] }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}